.app_lgbt_theme {
  --bg-color: #ef00eb;
  --inverted-bg-color: #00cfef;

  --primary-color: #fbf4fa;
  --secondary-color: #e9d2e5;
  --inverted-primary-color: #ffeb00;
  --inverted-secondary-color: #ff005f;

  // skeleton
  --skeleton-color: #88ff00;
  --skeleton-shadow: #8400ff;

  // code
  --code-bg: #f02bec;
}
