.dropdown {
  position: relative;
}
.btn {
  background: none;
  outline-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}
.menu {
  display: flex;
  flex-direction: column;
  background: var(--card-bg);
  position: absolute;
  z-index: 666;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
}
.item {
  padding: 10px 25px;
  width: 100%;
  border: none;
  background: none;
  outline-color: transparent;
  color: var(--primary-color);
  cursor: pointer;
}

.active {
  background: var(--inverted-primary-color);
}

// will be refactored
.optionsTopRight {
  bottom: 100%;
  left: 0;
}
.optionsTopLeft {
  bottom: 100%;
  right: 0;
}
.optionsBottomRight {
  top: 100%;
  left: 0;
}
.optionsBottomLeft {
  top: 100%;
  right: 0;
}
